include ../button/button.pug

mixin review(name, time, text, imageUrl, likesQuan)
  - const avatarImg = `background-image: url("${imageUrl}")`
  div.review
    div.review__user
      img.avatar(src=imageUrl)
      div.user-data
        span=name
        span=time
    div.review__text
      +button('like-btn', '', '', '', likesQuan)
      span=text
