mixin input(type, placeholder, label)
  div.input-wrapper
    case type
      when 'email'
        input.input-field(type=type, id=type, placeholder='Email')

      when 'password'
        input.input-field(type=type, id=type, placeholder='Пароль')

      when 'text'
        input.input-field(type=type, id=type, placeholder=placeholder)

      when 'text-with-label'
        div.birth-date-wrapper
          label(for=type)=label
          input.input-field(type=type, id=type, placeholder=placeholder)

      when 'subscribe'
        label(for=type) Text input
        div.subscribe
          input.input-field(type='email', id=type, placeholder='Email')
          input.subscribe__btn(type="submit", value="")

      when 'date'
        label(for=type)=placeholder
        div.input-field.date(data-toggle="datepicker" id=type)
          span ДД.ММ.ГГГГ
        div(data-toggle="datepicker")

      when 'date-little'
        label(for=type)=placeholder
        div.input-field.date.little(data-toggle="datepicker" id=type)
          span ДД.ММ.ГГГГ
        div(data-toggle="datepicker")
