mixin input(type)
  div.input-wrapper
    case type
      when 'email'
        label(for=type) Email input
        input.input-field(type=type, id=type, placeholder='Email')

      when 'text'
        label(for=type) Text input
        input.input-field(type=type, id=type, placeholder='Text')

      when 'subscribe'
        label(for=type) Text input
        div.subscribe
          input.input-field(type='email', id=type, placeholder='Email')
          input.subscribe__btn(type="submit", value="")

      when 'dropdown_1'
        div.select
          div.select__title.dropdown-1 Параметры
          div.select__content
            each name in ['Спальни', 'Кровати', 'Ванные комнаты']
              div.select__item.item
                span.item__title=name
                div.item__calc
                  div.btn-minus.disabled -
                  span.quantity.v-1 0
                  div.btn-plus +

      when 'dropdown_2'
        div.select
          div.select__title.dropdown-2 Сколько гостей
          div.select__content.dropdown-v-2
            each name in ['Взрослые', 'Дети', 'Младенцы']
              div.select__item.item
                span.item__title=name
                div.item__calc
                  div.btn-minus.disabled -
                  span.quantity.v-2 0
                  div.btn-plus +
            div.control-buttons
              span.resetSelect Очистить
              span.applySelect Применить

      when 'date'
        label(for=type) Datepicker
        div.input-field.date(data-toggle="datepicker" id=type)
          span ДД.ММ.ГГГГ
        div(data-toggle="datepicker")

      when 'date_little'
        label(for=type) Datepicker
        div.input-field.date.little(data-toggle="datepicker" id=type)
          span ДД.ММ.ГГГГ
        div(data-toggle="datepicker")