mixin input(type, placeholder, label)
  div.input-wrapper
    case type
      when 'email'
        input.input-field(type=type, id=type, placeholder='Email')

      when 'password'
        input.input-field(type=type, id=type, placeholder='Пароль')

      when 'text'
        input.input-field(type=type, id=type, placeholder=placeholder)

      when 'text-with-label'
        div.birth-date-wrapper
          label(for=type)=label
          input.input-field(type=type, id=type, placeholder=placeholder)

      when 'subscribe'
        div.subscribe
          input.input-field(type='email', id=type, placeholder='Email')
          div.subscribe-btn-wrapper
            include ../../../images/arrow_purple.svg

      when 'datepicker'
        div.datepicker-wrapper
          div.input-and-label-column
            label.date-label прибытие
            input.input-field.date.little(placeholder='ДД.ММ.ГГГГ')
          div.input-and-label-column
            label.date-label выезд
            input.input-field.date.little(placeholder='ДД.ММ.ГГГГ')
          input.datepicker-trigger(type="text" data-range="true" class='datepicker-here')

      when 'datepicker-birthday'
        div.datepicker-wrapper.birthday-wrapper
          div.input-and-label-column
            label.date-label.birth-date-label(for=type) дата рождения
            input.input-field.date.birth-date(id=type, placeholder='ДД.ММ.ГГГГ')
          input.datepicker-trigger(type="text" class='datepicker-here')

      when 'datepicker-twin'
        label.date-label(for=type)=placeholder
        input.input-field.date(id=type, placeholder='ДД.ММ.ГГГГ', type="text", spellcheck="false", data-range="true", class='datepicker-here')
