mixin input(type, placeholder, label)
  div.input-wrapper
    case type
      when 'email'
        input.input-field(type=type, id=type, placeholder='Email')

      when 'password'
        input.input-field(type=type, id=type, placeholder='Пароль')

      when 'text'
        input.input-field(type=type, id=type, placeholder=placeholder)

      when 'text-with-label'
        div.birth-date-wrapper
          label(for=type)=label
          input.input-field(type=type, id=type, placeholder=placeholder)

      when 'subscribe'
        div.subscribe
          input.input-field(type='email', id=type, placeholder='Email')
          input.subscribe__btn(type="submit", value="")

      when 'datepicker'
        label.date-label(for=type)=placeholder
        input.input-field.date.little.datepicker-here(id=type, placeholder='ДД.ММ.ГГГГ')
