mixin input(type)
  div.input-wrapper
    case type
      when 'email'
        label(for=type) Email input
        input.input-field(type=type, id=type, placeholder='Email')

      when 'text'
        label(for=type) Text input
        input.input-field(type=type, id=type, placeholder='Text')

      when 'subscribe'
        label(for=type) Text input
        div.subscribe
          input.input-field(type='email', id=type, placeholder='Email')
          input.subscribe__btn(type="submit", value="")

      when 'date'
        label(for=type) Datepicker
        div.input-field.date(data-toggle="datepicker" id=type)
          span ДД.ММ.ГГГГ
        div(data-toggle="datepicker")

      when 'date_little'
        label(for=type) Datepicker
        div.input-field.date.little(data-toggle="datepicker" id=type)
          span ДД.ММ.ГГГГ
        div(data-toggle="datepicker")

