mixin dropdown(type, widthStyle)
  case type
    when 'dropdown-params'
      div.select
        span Удобства номера
        div.select__title.dropdown-1 Параметры
        div.select__content.dropdown-v-1
          each name in ['Спальни', 'Кровати', 'Ванные комнаты']
            div.select__item.item
              span.item__title=name
              div.item__calc
                div.btn-minus.disabled -
                span.quantity.v-1 0
                div.btn-plus +

    when 'dropdown-quests'
      div.select
        span Гости
        div.select__title.dropdown-2(class=widthStyle) Сколько гостей
        div.select__content.dropdown-v-2(class=widthStyle)
          each name, index in ['Взрослые', 'Дети', 'Младенцы']
            div.select__item.item
              span.item__title=name
              div.item__calc
                div.btn-minus.disabled -
                span.quantity.v-2 0
                div.btn-plus +
          div.control-buttons
            span.resetSelect Очистить
            span.applySelect Применить

    when 'checkbox-list'
      div.select
        div.select__title.checkboxes-title Дополнительные удобства
        div.select__content.checkboxes-content
          each name, key in {'list1': 'Завтрак', 'list2': 'Письменный стол', 'list3': 'Стул для кормления', 'list4': 'Кроватка', 'list5': 'Телевизор', 'list6': 'Шампунь'}
            div.checkboxes-content__item
              input(type='checkbox', id=key)
              label(for=key)
                span=name